@media only screen and (min-width: 64em) {}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li{
    float: none;
}

li {
    display: inline;
}

li a {
 padding: 8px;
}
